{% extends "layout.html" %}
{% block content %}
  <div class="container my-5">
    <h1 class="display-4 text-center mb-4">Latest Posts</h1>
    {% for post in posts %}
      <article class="media content-section mb-4">
        <img
          class="rounded-circle article-img"
          src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
          alt="Profile Picture">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username|capitalize }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}"> {{ post.title }}</a></h2>
          <p class="article-content">{{ post.content|safe_truncate(200) }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock %}
